html{
    font-size: 15px;
    overflow-x: hidden;

}

body{
    width: 100%;
    height: 100%;

}

.upperdiv{
    width: 100%;
    display: flex;
    flex-direction: row;
   
}

.border1{
    height: 100%;
    width: 55em;
    display: flex;
    flex-direction: row;
    border-style: inset;
    border-width: 1px;
   
}

.divimage{
    width: 150px;
    height: 150px;
    margin-left: 1%;
}

.image1{
    width: -webkit-fill-available;
    height: 150px;

}

.Title1{
    width: 100%;
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-image: linear-gradient(to right, #179deb, #07598f);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    width: -moz-fit-content;
    width: fit-content;

}

.border2{
    width: 60%;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-style: ridge;
    border-width: 1px;
    margin-top: 4.6%;
}

.interline2{
    display: flex;
    flex-direction: row;

}

.AboutUs{
    padding-left: 4%;
    font-size: 220%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic; 
    width: 14%;
    
}

.minilinesboxes{
    margin-right: 5%;
    margin-left: 5%;

}
.miniline{
    border-style: ridge;
    border-width: 1px;
    transform: rotate(210deg);
    height: 90%;

}

.ContactUs{
    font-size: 220%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    width: 15%;
 
}


.SupportUs{
    font-size: 220%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    width: 15%;

}

.buttonL1{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
    padding: 7% 9% 7%;
    font-size: 60%;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #297fcf;
    box-shadow: 0 0 0 3px #92868663 inset;
    margin-top: 6%;

}
.buttonL1:hover{
    transform: translateY(-2px);
}

.longlinediv{
    transform: rotate(90deg); /*DISABLING BUTTONS*/
    padding-bottom: 69.5%;

}

.longline{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-right: ridge;
    border-width: 3px;
    border-color: rgba(255, 255, 255, 0.61);
      
}

.recently{
    margin-left: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #297fcf;
}

.rightdiv{
    margin-left: 86%;
    position: absolute;
    width: 13%;
    height:100%;

}

.left-middle-div{
    position: absolute;
    width: 84%;
    height:100%;
}

.objectsDB{
    width: 100%;
    height: 50%;
}

.objectsbuttons{
    width: 100%;
    height: 20%;
    margin-top: 5%;
}

.buttons1{
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.Makedonation{
    margin-right: 35%;
}

.buttonL2{
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 12px;
    padding: 8% 0% 8%;
    font-size: 150%;
    font-weight: 700;
    line-height: 1;
    transition: transform 200ms,background 200ms;
    background: transparent;
    color: #3c9bf5;
    box-shadow: 0 0 0 3px #92868663 inset;

}
.buttonL2:hover{
    transform: translateY(-2px);
}


